In [30]:
import pandas as pd
df = pd.read_csv('netflix_titles.csv')

In [68]:
import sqlalchemy as sal
engine = sal.create_engine('mssql://DESKTOP-RPUPPDC/master?driver=ODBC+DRIVER+17+FOR+SQL+SERVER')
conn=engine.connect()

In [69]:
df.to_sql('netflix_raw', con=conn , index=False, if_exists='append')
conn.close()

In [52]:
len(df)

8807

In [53]:
df[df.show_id=='s5023']

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [65]:
max(df.description.dropna().str.len())

248